@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

body {
  font-family: "Manrope", sans-serif;
}

::-moz-selection {
  color: beige;
  background: #181a18;
}

::selection {
  color: beige;
  background: #181a18;
}
